<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-image: url("../images/backgroungB.jpg");
            padding-top: 54px;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }

        #txt{
            list-style-image: url('http://icons.iconarchive.com/icons/yusuke-kamiyamane/fugue/16/tick-small-icon.png');
            margin-left: 1%;
            float: left;
            clear: right
        }
    </style>
</head>
<body>
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Advertise
        <small>your text</small>
    </h1>

    <!-- Project One -->
    <div class="row">
        <div class="col-md-6">
                <!--<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/600x300" alt="">-->
            <ul id="images">

            </ul>
        </div>
        <div class="col-md-5">
            <h3>message</h3>
            <section>
                <ul id="txt">

                </ul>
            </section>

        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>
</body>
</html>



